

.content-side{
    border:1px solid red;
    width: 512px;
    height:800px;
    float:left;
    background:#181B2A;
    /*#1B1E2E 标题 */
    margin-top:10px;
    margin-bottom:10px;
}

.game-story{
    border:1px solid red;
    height:100px;
}


.bet-address{
    /*border:1px solid red;*/
    float:left;
    margin-top:15px;
    width:100%;
    height:40px;
    padding:5px;
}

.bet-address-number{
    /*border:1px solid red;*/
    float:left;
    font-size:30px;
}

.bet-address-info{
    /*border:1px solid red;*/
    float:left;
    font-size:14px;
    margin-left:10px;
}

.bet-address-info div:nth-child(2){
    /*font-weight: bold;*/

}






.bet-amount-menu{
    border:1px solid red;
    height:100px;
}


.bet-amount-menu-item{
    float:left;
}



.curr-bet-info{
    border:1px solid red;
    width:100%;
    height:200px;
}


.lucky-player{
    border:1px solid red;
    width:100%;
    height:200px;
}


.bet-rules{
    border:1px solid red;
    width:100%;
    height:200px;
}



.curr-unsettle-bets{
    border:1px solid red;
    background:#181B2A;
}

.curr-unsettle-bets div:nth-child(1){
    width:100%;
    font-size:18px;
}


.bet-item{
    font-size:14px;
}

.bet-item span{
    display:inline-block;
    text-align: center;
}

.bet-item span:nth-child(1){
    width:120px;
}


.bet-item span:nth-child(2){
    width:120px;
}

.bet-item span:nth-child(3){
    width:120px;
}

.bet-item span:nth-child(4){
    width:200px;
}