<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css"
              integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../assets/css/bet.css"/>
        <link rel="stylesheet" type="text/css" href="../assets/css/common.css"/>
    </head>

    <body>

        <header>
            <div class="header-title">
                GeekCash Games
            </div>

            <div class="header-menu">
                <span>Home</span>
                <span>Rules</span>
                <span>Buy</span>
                <span>History</span>
                <span>English | 中文</span>
            </div>
        </header>

        <div class="content-box">
            <div>
                <span>第1轮游戏</span><br>
                <span>开奖数字: 7</span><br>
                <span>开始区块: 85452</span><br>
                <span>结束区块: 98544</span><br>
                <span>开奖区块: 98545</span><br>
                <span>下注数量: 5</span><br>
                <span>下注金额: 85654</span><br>
                <span>赢家数量: 3</span><br>
                <span>输家数量: 2</span><br>
                <span>奖金总额: 56854</span><br>
            </div>

            <br>

            <div>
                <div class="bet-item">
                    <span>下注txid</span>
                    <span>下注时间</span>
                    <span>下注数字</span>
                    <span>下注金额</span>
                    <span>收益金额</span>
                    <span>支付txid</span>
                </div>

                <div class="bet-item">
                    <span>abb3c6e0ff1</span>
                    <span>2018-09-26 12:12:59</span>
                    <span>7</span>
                    <span>2000</span>
                    <span>-2000</span>
                    <span>-</span>
                </div>

                <div class="bet-item">
                    <span>abb3c6e0ff1</span>
                    <span>2018-09-26 12:12:59</span>
                    <span>7</span>
                    <span>2000</span>
                    <span>-2000</span>
                    <span>-</span>
                </div>

                <div class="bet-item">
                    <span>abb3c6e0ff1</span>
                    <span>2018-09-26 12:12:59</span>
                    <span>7</span>
                    <span>2000</span>
                    <span class="bet-lose">-2000</span>
                    <span>-</span>
                </div>

                <div class="bet-item">
                    <span>abb3c6e0ff1</span>
                    <span>2018-09-26 12:12:59</span>
                    <span>7</span>
                    <span>2000</span>
                    <span>-2000</span>
                    <span>-</span>
                </div>

                <div class="bet-item">
                    <span>abb3c6e0ff1</span>
                    <span>2018-09-26 12:12:59</span>
                    <span>7</span>
                    <span>2000</span>
                    <span>-2000</span>
                    <span>-</span>
                </div>

            </div>





        </div>

    </body>

</html>